node_modules
.DS_Store
*.log
.vscode
.idea
*.swp
/dist
/dist-electron
/packages/**/dist
/packages/**/dist-electron
/target
/out
*.vsix
*.exe
*.dmg
*.AppImage
*.deb
pnpm-lock.yaml
.env
.env.*
packages/electron-ide/src/**/*.js
